<body>
    {{! TODO: RTL version conditional on $data['rtl'] }}
    {{#if prebodyhtml}}<div>{{{prebodyhtml}}}</div>{{/if}}
    {{! WORKAROUND: can't add classes to <body>, so using a wrapper div }}
    <div id="body-wrapper" class="uk-grid uk-margin-auto uk-margin-top">
        {{! Consume $data['bodycontent'] for later use }}
        <script type="text/javascript">
            window.addEventListener('load', function () {
                $bodytext = $('<hidden></>').append($.parseHTML(`{{{bodycontent}}}`));
            });
        </script>
        <header id="top-bar" class="uk-width-1-1 uk-grid uk-margin-bottom">
            <div id="logo" class="uk-logo uk-margin-small-right">{{{logo}}}</div>
            <div id="page-title" class="uk-margin-small-top uk-padding-remove uk-margin-small-left">
                <h1 class="uk-margin-remove-bottom"><a href={{{content_navigation.namespaces.main.href}}} class="uk-h1">{{title}}</a></h1>
                <p class="uk-margin-remove-top uk-text-right" style="font-style: italic;">{{sitename}}</p>
            </div>
            <div class="uk-width-expand">
                {{! filler to push #tools to the right }}
            </div>
            {{! TODO: Integrate $data['language_urls'] conditionally as a dropdown list }}
            <nav id="tools" class="uk-navbar-container uk-navbar-transparent uk-padding-remove-left " uk-navbar>
                <ul class="uk-navbar-nav">
                    <li id="site-tools">
                        <a href="{{{nav_urls.info.href}}}" title="{{nav_urls.info.text}}" uk-icon="icon: home"></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {{#sidebar.navigation}}<li><a href="{{{href}}}">{{text}}</a></li>{{/sidebar.navigation}}
                            </ul>
                        </div>
                    </li>
                    <li id="page-tools">
                        <a href="{{{content_navigation.views.edit.href}}}" title="{{content_navigation.views.edit.text}}" uk-icon="icon: pencil"></a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">     {{! BUG: uk-navbar-dropdown isn't 2-columns wide }}
                            {{! TODO: Add code to remove some of these and modify the namespace displayed in h1 for the rest (sp. policy, guideline and essay) }}
                            {{#if indicators}}<div uk-grid>{{{indicators}}}</div>{{/if}}
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li>{{lastmod}}</li>
                            </ul>
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{{content_navigation.views.view.href}}}">{{content_navigation.views.view.text}}</a></li>
                                        <li><a href="{{{content_navigation.namespaces.talk.href}}}">{{content_navigation.namespaces.talk.text}}</a></li>
                                        <li><a href="{{{content_navigation.views.history.href}}}">{{content_navigation.views.history.text}}</a></li>
                                        <li><a href="{{{nav_urls.info.href}}}">{{nav_urls.info.text}}</a></li>
                                        <li><a href="{{{nav_urls.whatlinkshere.href}}}">What links here</a></li>
                                        <li><a href="{{{nav_urls.recentchangeslinked.href}}}">Related changes</a></li>
                                        <li><a href="{{{nav_urls.print.href}}}">{{nav_urls.print.text}}</a></li>
                                        <li><a href="{{{nav_urls.specialpages.href}}}">Special Pages</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {{#each watch_indicator}}<li><a href="{{{href}}}">{{text}}</a></li>{{/watch_indicator}}
                                        <li><a id="copy-permalink" data-clipboard-text="{{{serverurl}}}{{{nav_urls.permalink.href}}}">{{nav_urls.permalink.text}}</a></li>
                                        <li><a href="{{{nav_urls.upload.href}}}">Upload file</a></li>
                                        <li><a href="{{{content_navigation.actions.move.href}}}">{{content_navigation.actions.move.text}}</a></li>
                                        <li><a href="{{{content_navigation.actions.protect.href}}}">{{content_navigation.actions.protect.text}}</a></li>
                                        <li><a href="{{{content_navigation.actions.delete.href}}}">{{content_navigation.actions.delete.text}}</a></li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>
                    </li>
                    <li id="user-tools">
                        <a href="{{{userpageurl}}}" title="{{userpage}}" uk-icon="icon: user"></a>      {{! TODO: Add notification for new talk page messages (using $data['newtalk']) }}
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{{{personal_urls.userpage.href}}}">{{personal_urls.userpage.text}}</a></li>
                                <li><a href="{{{personal_urls.mytalk.href}}}">{{personal_urls.mytalk.text}}</a></li>
                                <li><a href="{{{personal_urls.watchlist.href}}}">{{personal_urls.watchlist.text}}</a></li>
                                <li><a href="{{{personal_urls.mycontris.href}}}">{{personal_urls.mycontris.text}}</a></li>
                                <li><a href="{{{personal_urls.preferences.href}}}">{{personal_urls.preferences.text}}</a></li>
                                <li><a href="{{{personal_urls.logout.href}}}">{{personal_urls.logout.text}}</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="site-search">
                        <a href="{{{searchaction}}}" title="{{searchtitle}}" uk-icon="icon: search"></a>
                        <div class="uk-navbar-dropdown">
                            <form id="searchform" class="uk-search" action="{{{searchaction}}}">
                                <span class="uk-search-icon-flip" uk-search-icon></span>
                                <input class="uk-search-input" type="search" name="search" placeholder="Search&hellip;" autofocus>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <nav id="left-col" class="uk-width-1-4">
        </nav>
        <main id="content" class="uk-width-1-2">
            {{#if sitenotice}}<div class="uk-width-1-1 uk-alert">{{{sitenotice}}}</div>{{/if}}
            {{#if undelete}}<div class="uk-width-1-1 uk-alert">{{{undelete}}}</div>{{/if}}      {{! TODO: Figure out what this does }}
            {{! TODO: Limit .mw-editsection visibility toggle to header width instead of page width }}
            {{! TODO: Add "Back to top" buttons to section headers }}
            <script type="text/javascript">
            window.addEventListener('load', function () {
                $('#content-placerholder').replaceWith($bodytext[0].innerHTML);
            });
            </script>
            <div id="content-placerholder" hidden></div>
            {{#if subtitle}}<div class="uk-width-1-1 uk-text-center uk-text-small">{{{subtitle}}}</div>{{/if}}      {{! TODO: Check if this can be moved somewhere else, eg. as a tools listing }}
            {{#if catlinks}}<nav>{{{catlinks}}}</nav>{{/if}}                                                        {{! TODO: Move category links to side- or toolbar }}
            {{#if dataAfterContent}}<div>{{{dataAfterContent}}}</div>{{/if}}
        </main>
        <div id="right col" class="uk-width-1-4">

        </div>
        <div class="uk-width-1-4">
            {{! WORKAROUND: uikit#2774 (see below) }}
        </div>
        <div id="bottom-bar" class="uk-width-1-2 uk-margin-small-top">
            <hr class="uk-divider-icon uk-margin-small-bottom">
            {{! BUG: uk-sticky="bottom: #bottom-bar" doesn't work, so #toc overlays #bottom-bar if it's long enough (uikit#2774) }}
            <div class="uk-container uk-text-center">
                <div>{{{about}}} | {{{disclaimer}}} | {{{privacy}}}</div>
                {{! TODO: Incorporate <div> into the conditional instead of always displaying it }}
                <div>
                    {{#if credits}}<span>{{{credits}}}</span>{{/if}}
                    {{#if copyright}}<span>{{{copyrightico}}}{{{copyright}}}</span>{{/if}}
                </div>
                {{#if credits}}<div>{{{poweredbyico}}}</div>{{/if}}
            </div>
        </div>
    </div>
</body>