// Import UIkit
@import "../../vendor/uikit/src/less/uikit.theme.less";     // TODO: Check about importing uikit.less instead
@import (inline) "../../vendor/tablesorter/css/theme.default.css";

#top-bar {
    height: 45px;
    border-bottom: 1px solid @global-muted-color;
    box-sizing: content-box;
    
    * {
        height: 45px;
    }

    img {
        height: 42px;
    }

    #page-title {
        margin-top: 5px;
        
        * {
            display: inline;
        }
    }
}

#site-search form input {
    border-bottom: 1px solid @global-border;
}

#content .mw-editsection {
    margin-left: 0.5em;
}

.hook-table-small() {
    // WORKAROUND: Tablesorter messes up with the fonts; this is taken directly from uikit/src/less/components/base
    font-family: @base-body-font-family;
    font-size: @base-body-font-size;
    font-weight: @base-body-font-weight;
    line-height: @base-body-line-height;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 3 */
    background: @base-body-background;
    color: @base-body-color;

    .uk-text-small();
    padding: 1px;
}

main .thumb,
main .mermaid {
    .uk-width-1-4();
    position: absolute;
    right: 0px;
    border: 0px;
    box-sizing: border-box;
}
